@import "tailwindcss";

#root {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

*{
    scroll-behavior: smooth;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}
